header {
    background-color: $header-bg-primary;
    position: sticky;
    top: 0;
    .container {
        padding: 16px 12px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }
    .ham-toggle {
        visibility: hidden;
    }
    .list-menu {
        display: flex;
        gap: 64px;
        font-size: 20px;
        line-height: 30px;
    }
    a {
        color: $nav-menu-text-primary;
        &:hover {
            color: $nav-menu-text-primary--hover;
        }
    }
    .list-menu-child {
        display: none;
    }
    .list-menu-item {
        position: relative;
    }
    .list-menu-item:hover .list-menu-child {
        display: block;
        width: 150%;
        margin: 0 auto;
        position: absolute;
        left: -20%;
        li {
            background-color: #f4f4f4;
            padding: 6px 0 6px 14%;
        }
        @include pad {
            display: none;
        }
    }
}

/*
    ham-menu
*/
@media screen and (max-width: $pad-width) {
    @include ham-menu;
}