a {
    color: $pages-link-primary;
    a:hover {
        color: $pages-link-primary--hover;
    }
}
h1 {
    font-size: 36px;
    line-height: 62px;
    font-weight: 600;
    @include pad {
        font-size: 30px;
        line-height: 54px;
    }
    @include mobile {
        font-size: 24px;
        line-height: 42px;
    }
}
h2 {
    font-size: 30px;
    line-height: 54px;
    font-weight: 600;
    @include pad {
        font-size: 24px;
        line-height: 42px;
    }
    @include mobile {
        font-size: 20px;
        line-height: 36px;
    }
}
h3 {
    font-size: 24px;
    line-height: 42px;
    font-weight: 600;
    @include pad {
        font-size: 20px;
        line-height: 36px;
    }
    @include mobile {
        font-size: 18px;
        line-height: 32px;
    }
}
h6 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
}
p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.logo {
    height: 50px;
    text-align: center;
    &:hover {
        opacity: 0.7;
    }
}
.nav-current {
    display: none;
    @include pad {
        display: flex;
    }
}
.container {
    max-width: $container-lg;
    margin: 0 auto;
    padding: 40px 12px;
}
section {
    padding: 20px 0;
    @include pad {
        padding: 16px;
    }
}
.col-2 {
    width: 20%;
    margin: 10px auto;
    @include mobile {
        width: 100%;
        margin: 10px auto;
    }
}
.col-3 {
    width: 30%;
    margin: 10px auto;
    @include mobile {
        width: 100%;
        margin: 10px auto;
    }
}
.col-4 {
    width: 40%;
    margin: 10px auto;
    @include mobile {
        width: 100%;
        margin: 10px auto;
    }
}
.col-6 {
    width: 60%;
    margin: 10px auto;
    @include mobile {
        width: 100%;
        margin: 10px auto;
    }
}
.col-7 {
    width: 70%;
    margin: 10px auto;
    @include mobile {
        width: 100%;
        margin: 10px auto;
    }
}
.col-sm-4 {
    @include mobile {
        width: 40%;
        margin: 10px auto;
    }
}
.fxd-row-xy-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.fxd-row-y-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fxd-col-x-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fxd-sm-col-x-center{
    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.fxw-sm-wrap {
    @include mobile {
        display: flex;
        flex-wrap: wrap;
    }
}
.fxd-sm-row-jcc {
    @include mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.fxd-sm-col {
    @include mobile {
        flex-direction: column;
    }
}
.fxd-row-reverse {
    flex-direction: row-reverse;
}
.btn {
    
    font-weight: 600;
    text-align: center;
    border: 1px solid #dfe6ed;
    border-radius: 5px;
    margin: 0 auto;
}
.btn-lg {
    font-size: 20px;
    line-height: 48px;
    width: 240px;
}
.btn-md {
    font-size: 20px;
    line-height: 36px;
    width: 120px;
}
.btn-sm {
    font-size: 16px;
    line-height: 24px;
    width: 60px;
}
.btn-primary {
    background: #730fc3;
    color: #fff;
}
.btn-secondary {
    background: gray;
    color: #fff;
}
.bxz-sm {
    @include mobile {
        box-shadow: 0px 2px 6px #00000029;
        border: 1px solid #DEE2E6;
        margin: 20px;
    }
}
.ta-c {
    text-align: center;
}
.ta-c-sm {
    @include mobile {
        text-align: center;
    }
}
.py-m {
    padding-top: 48px;
    padding-bottom: 48px;
    @include pad {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    @include mobile {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.gx-40 {
    gap: 0px 40px;
}
.text-light {
    color: #aa0601;
}